@import './helpers.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 400;
}

// typography 
h3.sectionTitle {
	letter-spacing: 1px;
	font-size: 22px;
	color: $secondary-main;
	border-bottom: 3px solid $lightgray;
	padding: 12px 16px;
}

a.anchorDark {
  font-weight: 500;
  text-decoration: none;
  color: $secondary-dark;
}