$secondary-main: rgb(95, 131, 107);
$secondary-light: rgb(145, 177, 155);
$secondary-dark: rgb(40, 56, 46);
$white: white;
$lightgray: rgb(230, 230, 230);
$darkgray: rgb(82, 82, 82);
$gray: rgb(161, 161, 161);
$overlay-dark: rgba(0, 0, 0, 0.5);