@import '../../styles/variables.scss';

.card {
  background-color: $white;
  margin: 8px;
  color: $secondary-dark;
  border: 1px solid $secondary-light;
}

.content {
  padding: 8px 12px;
  font-size: 14px;
}

.img {
  width: 100%;
  max-width: 300px;
}

.card_xs {
  max-width: 200px;
}