@import '../../styles//variables.scss';

.field {
  background-color: $secondary-main;
  color: $white;
  padding: 28px;
  max-width: 400px;
  letter-spacing: 1px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
}